apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: neurocred-dev
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: backend
        resources:
          requests:
            cpu: "500m"
            memory: "512Mi"
          limits:
            cpu: "1000m"
            memory: "1Gi"

